<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Socialyse</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.482290864249-6aknpkqb8ov46kut400779mbjd8av6lb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) needs access to your Camera.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Once you turn on location services, you'll be able to interact with channels and pins in your area.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location Permission</string>
	<key>NSLocationUsageDescription</key>
	<string>GPS data is required to...</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location Permission</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Socialyse needs access to your mircophone</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Socialyse needs access to the photo library in order for users to create a profile pic</string>
	<key>UIAppFonts</key>
	<array>
		<string/>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Epilogue-Black.ttf</string>
		<string>Epilogue-BlackItalic.ttf</string>
		<string>Epilogue-Bold.ttf</string>
		<string>Epilogue-BoldItalic.ttf</string>
		<string>Epilogue-ExtraBold.ttf</string>
		<string>Epilogue-ExtraBoldItalic.ttf</string>
		<string>Epilogue-ExtraLight.ttf</string>
		<string>Epilogue-ExtraLightItalic.ttf</string>
		<string>Epilogue-Italic.ttf</string>
		<string>Epilogue-Light.ttf</string>
		<string>Epilogue-LightItalic.ttf</string>
		<string>Epilogue-Medium.ttf</string>
		<string>Epilogue-MediumItalic.ttf</string>
		<string>Epilogue-Regular.ttf</string>
		<string>Epilogue-SemiBold.ttf</string>
		<string>Epilogue-SemiBoldItalic.ttf</string>
		<string>Epilogue-Thin.ttf</string>
		<string>Epilogue-ThinItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
